@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: yekan-reg;
  font-weight: normal;
  src: url(./../font/YekanBakh-Regular.woff2);
}

@font-face {
  font-family: yekan-bold;
  font-weight: bold;
  src: url(./../font/Yekan-Bakh-FaNum-06-Bold.woff);
}

@font-face {
  font-family: awsome;
  font-weight: bold;
  src: url(./../font/Font\ Awesome\ 6\ Free-Solid-900.otf);
}